<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/logout">Logout</a>
    {{#if errors}}
      <div>
        {{#each errors}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    {{{body}}}
  </body>
</html>